/* Estilos gerais */
body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    max-width: 800px; /* Aumentando a largura máxima para melhorar o layout em telas maiores */
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #00796b;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para os botões de status */
.status-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.status-buttons button {
    flex: 1 1 calc(20% - 10px); /* Ajustando a largura dos botões com base na largura disponível */
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

/* Estilos específicos para cada status */
.emergencia { background-color: #d32f2f; }
.muito-urgente { background-color: #f57c00; }
.urgente { background-color: #fbc02d; }
.pouco-urgente { background-color: #388e3c; }
.nao-urgente { background-color: #1976d2; }

/* Responsividade */
@media (max-width: 600px) {
    .status-buttons button {
        flex: 1 1 calc(50% - 10px); /* Em telas menores, cada botão ocupará 50% da largura */
    }
}
