<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/cadastro_usuario.css}">
</head>

<body>
    <main class="content">
        <form th:action="@{/cadastro_usuario}" method="post">
            <h1>E S O S</h1>
            <p>Guiando sua saúde para um amanhã melhor</p>
            <img th:src="@{/images/logo.png}" alt="logo">
            <h1>Cadastro</h1>

            <div class="input-box">
                <input type="text" placeholder="Usuário" name="usuario" th:value="${usuario}">
                <i class="bi bi-person-fill"></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Senha" name="senha" th:value="${senha}">
                <i class="bi bi-lock-fill"></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Manter-se logado</label>
            </div>

            <button type="submit" class="btn">Cadastrar</button>

            <div class="register-link">
                <p>Já possui conta <a th:href="@{/login}">Logue</a></p>
            </div>
        </form>
    </main>
</body>

</html>
