<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Pacientes</title>
    <link rel="stylesheet" th:href="@{/css/listar_paciente.css}">
</head>

<body>
    <div class="container">
        <div class="patients-section">
            <div class="patient-tittle">
                <h2>Pacientes</h2>
                <p>Organizar por: <span class="order">ordem de risco</span></p>
            </div>

            <ul class="patients-list">
                <!-- Laço para percorrer a lista de pacientes -->
                <li class="patient-item" th:each="paciente : ${pacientes}">
                    <div class="patient-time">
                        <!-- Exibe o nome do paciente -->
                        <span class="name" th:text="${paciente.nome}" th:title="${paciente.nome + ' - ' + paciente.statusProtocoloManchester}">Nome do paciente</span>
                        <span class="status" th:text="${paciente.statusProtocoloManchester}">Status</span>
                    </div>

                    <!-- Exibe o grau de risco -->
                    <span class="urgency" th:classappend="${paciente.statusProtocoloManchester == 'Emergência' ? ' red' : paciente.statusProtocoloManchester == 'Muito urgente' ? ' orange' : paciente.statusProtocoloManchester == 'Urgente' ? ' yellow' : ' green'}">
                        <p th:text="${paciente.statusProtocoloManchester}">Grau de risco</p>
                    </span>

                    <!-- Informações adicionais que aparecerão ao passar o mouse sobre o nome -->
                    <div class="additional-info">
                        <p><strong>Endereço:</strong> <span th:text="${paciente.endereco}">Endereço do paciente</span></p>
                        <p><strong>Email:</strong> <span th:text="${paciente.email}">Email</span></p>
                        <p><strong>Telefone:</strong> <span th:text="${paciente.telefone}">Telefone</span></p>
                        <p><strong>Plano de Saúde:</strong> <span th:text="${paciente.planoSaude}">Plano de Saúde</span></p>
                        <p><strong>Sexo:</strong> <span th:text="${paciente.sexo}">Sexo</span></p>
                        <p><strong>Data de Nascimento:</strong> <span th:text="${paciente.dataNascimento}">Data de Nascimento</span></p>
                        <p><strong>Tipo Sanguíneo:</strong> <span th:text="${paciente.tipoSanguineo}">Tipo Sanguíneo</span></p>
                        <p><strong>Histórico de Doenças:</strong> <span th:text="${paciente.historicoDoencas}">Histórico de Doenças</span></p>
                        <p><strong>Alergias:</strong> <span th:text="${paciente.alergias}">Alergias</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
